

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: yellow;
    color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a{
    text-decoration: none;
    display: inline;
}

header h1 {
    padding: 20px 0 20px 20px;
    font-weight: bold;
    font-size: 36px;
    color: navy;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Hero Starts */
.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/portfolio-hero.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 500px;
    padding: 30px 30px 30px 250px;

}

.hero h2 {
    text-align: right;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}

/* Intro Starts */


.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    
}

.intro p {
    width: 65%;
    
}

.intro h2 {
    width: 30%;
    font-size: 35px;
}


/* WorK */
.work {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  

}

.work h2 {
    font-size: 35px;
    width: 10%;
}

.run-buddy h3 {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 400px;
    width: 90%;
}

.homework1 h3 {
    background-image: url("../images/homework1.png");
    background-size: cover;
    background-position: 100%;
    height: 600px;
    width: 700px;
}

.assignment1 h3 {
    background-image: url("../images/mycutie.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 600px;
    width: 700px;
}

.assignment2 h3 {
    background-image: url("../images/pokemon-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 600px;
    width: 700px;
}

.assignment3 h3 {
    background-image: url("../images/90sfavcartoons-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 600px;
    width: 700px;
}

.work-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    

}

.work-discription2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.work button {
    background-color: lightpink;
    color: midnightblue;
    text-align: center;
    float: left;
    padding: 15px 0;
    font-size: 30px;
    width: 40%;
}

.work button:hover {
    color: olive;
    background-color: palegoldenrod;
}

/* Footer Starts */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-color: teal;
}

footer h2 {
    font-size: 36px;
    padding: 20px 0 20px 30px;
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 30px;
}

footer ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: yellow;
}

footer ul li a:hover {
    color: orangered;
}