.hero {
    background-image: url("../images/portfolio-hero.jpeg");
}

.run-buddy h3 {
    background-image: url("");
}

.homework1 h3 {
    background-image: url("../images/homework1.png");
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: aqua;
    color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a{
    text-decoration: none;
    display: inline;
}

header h1 {
    position: inline-block;
    font-weight: bold;
    font-size: 36px;
    color: blue;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
