* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: teal;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header nav {
    margin: 7px 0;
    padding-top: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header a{
    text-decoration: none;
    display: inline;
    color: rgb(255, 196, 0);
    font-size: larger;
}

header a:hover{
    color: orangered;
}

header h1 {
    padding: 20px 0 20px 20px;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: rgb(255, 196, 0);
}

header nav ul li a {
    padding: 25px 25px 20px 0;
    font-weight: bold;
    font-size: 1.7vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 196, 0);
}

header ul li a:hover {
    color: orangered;
}

/* Hero Starts */
.hero {
    background-image: url("../images/portfolio-hero.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 500px;
}

.hero h2 {
    float: right;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    padding: 350px 40px 40px 0;
}/* Hero Ends */

/* Intro Starts */
.intro {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 50px 180px;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
}

.intro p {
    flex-wrap: wrap;
    width: 80%;
    line-height: 1;
    font-size: 20px;
    color: rgb(3, 50, 190);
    padding-top: 20px;
    padding-left: 110px;
}

.intro h2 {
    flex-wrap: wrap;
    padding-right: 80px;
    font-size: 45px;
    padding-left: 0;
    width: 20%;
    color: rgb(4, 21, 71);
}
/* Intro ends */

/* WorK Starts */
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.work h2 {
    font-size: 45px;
    width: 20%;
    color: rgb(4, 21, 71);
    padding-left: 170px;
    padding-right: 0;
    
}

.work-description {
    padding-left: 0;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.work-discription2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.run-buddy h3 {
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.run-buddy:hover {
    width: 1300px;
}

.homework1 h3 {
    background-image: url("../images/homework1.png");
    background-size: cover;
    background-position: 100%;
    height: 350px;
    width: 600px;
}

.homework1 h3:hover {
    height: 280px;
    width: 450px;
}

.homework1 {
    padding-bottom: 30px;
}

.assignment1 h3 {
    background-image: url("../images/mycutie.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 350px;
    width: 600px;
}

.assignment1 h3:hover {
    height: 280px;
    width: 450px;
}

.assignment2 h3 {
    background-image: url("../images/pokemon-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 350px;
    width: 600px;
}

.assignment2 h3:hover {
    height: 280px;
    width: 450px;
}

.assignment3 h3 {
    background-image: url("../images/90sfavcartoons-bg.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 350px;
    width: 600px;
}

.assignment3 h3:hover {
    height: 280px;
    width: 450px;
}    

.work button {
    display: flex;
    background-color: lightpink;
    color: rgb(4, 21, 71);
    justify-content: center;
    padding: 15px 0;
    font-size: 20px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #000;
}

.work button:hover {
    display: flex;
    color: olive;
    background-color: palegoldenrod;
}
/* Work Ends */

/* Footer Starts */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-color: teal;
}

footer h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    padding: 20px 0 20px 30px;
    color: rgb(255, 196, 0);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 30px;
}

footer ul li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(255, 196, 0);
}

footer ul li a:hover {
    color: orangered;
}
/* Footer Ends */

/* Media Screen */
/* Media Screen for Mac-Book */
@media  screen and (max-width: 2060px) {
     
    .intro p {
        padding-left: 20px;
    }

    .homework1 h3 {
        height: 250px;
        width: 450px;
    }

    .assignment1 h3 {
        height: 250px;
        width: 450px;
    }

    .assignment2 h3 {
        height: 250px;
        width: 450px;
    }

    .assignment3 h3 {
        height: 250px;
        width: 450px;
    }

    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 50px;
    } 
    
    header nav ul {
        margin-top: 5px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 30px;
    }

    .hero h2 {
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }

    .intro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
      
    }

    .intro h2 {
        padding-left: 90px;
        justify-content: center;

    }

    .intro p {
        justify-content: space-around;
        text-align: left;
        margin: 0 auto;
        padding-left: 0;
    }

    .work {
       justify-content: center;
       
    }
    
    .work h2 {
        padding-right: 200px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .work button {
        width: 40%;
        font-size: 20px;
    }

    .work button:hover {
        display: flex;
        color: olive;
        background-color: palegoldenrod;
    }

    .work-description {
        width: 100%;
        flex-direction: column;
    }
    
    .run-buddy {
        width: 100%;
    }

    .work-discription2 {
        padding: 30px 0 30px 0;
        flex-direction: row;
    }

    .homework1 {
        margin: 0 auto;
    }
    .assignment1 {
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .assignment2 {
        padding-bottom: 30px;
        margin: 0 auto;
    }

    .assignment3 {
        margin: 0 auto;
    }

   footer h2 {
       padding-left: 37vw;
       font-size: 40px;
       
   }
   footer ul {
       padding-left: 70px;
   }

   footer ul li a {
       font-size: 30px;
       padding-left: 15px;
   }
}

@media screen and (max-width: 768px) {
    footer ul {
        justify-content: center;
    }

    .work button:hover {
        display: flex;
        color: olive;
        background-color: palegoldenrod;
    }

}

@media screen and (max-width: 575px) {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-left: 20px;
        flex-direction: column;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 400px;
    }

    .hero h2 {
        font-size: 40px;
        font-weight: bolder;
        
    }

    .intro h2 {
        display: flex;
        flex-wrap: wrap;
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .intro p {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .work h2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
        font-size: 40px;
        padding-left: 280px;
        padding-bottom: 20px;
    }


    .work {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .work-description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        
    }

    .run-buddy {
        width: 100%;;
    }
    
    .work-discription2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
    }

    .work button:hover {
        display: flex;
        color: olive;
        background-color: palegoldenrod;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    footer h2 {
        padding-left: 0;
    }

}

@media screen and (max-width: 375px) {
    header h1 {
        font-size: 30px;
        padding-left: 20px;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    .hero h2 {
        font-size: 30px;
    }
    .intro h2 {
        font-size: 30px;
        justify-content: center;
        padding: 10px 0 0 120px;
    }

    .work h2 {
        font-size: 30px;
        padding: 0 0 10px 180px;
    }
    
    .work button {
        font-size: 15px;
    }

    footer h2 {
        padding: 0;
        font-size: 30px;
    }
    
    footer ul li a {
        font-size: 25px;
        padding-right: 35px;
    }
}

